/* Set the App to take full height */
.App {
	display: flex;
	min-height: 100vh; /* Ensures it takes full viewport height */
	background-color: #282c34;
}

/* Sidebar styling */
.SideNavbar {
	width: 250px;
	background-color: #333;
	color: #fff;
	height: 100vh;
	position: fixed;
}

/* Content styling */
.content {
	margin-left: 250px; /* Ensures content is not hidden behind SideNavbar */
	padding: 20px;
	flex-grow: 1;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-between; /* Ensure content is evenly distributed */
}

/* General body styling */
body {
	margin: 0;
	font-family: Arial, sans-serif;
	background-color: #282c34;
	color: #fff;
}

.Layout {
	min-height: 100vh;
	color: #fff;
}

.sideMenu {
	color: #fff;
  padding-bottom: 10px;
	background-color: #161616;
}

.ant-layout-header {
	background-color: #1890ff; /* Example color */
	color: white; /* Example text color */
}

.backgroundLayout {
	background: linear-gradient(to left, #32200f, #161616);
}

.siderBackground {
	color: #fff;
	background-color: #161616;
}

.custom-sider {
	background-color: #001529;
	color: white;
	height: 100vh;
	position: fixed;
	left: 0;
}

.homePageCard {
	width: 450px;
	background-color: #393838;
	border: none;
}

.mortgage {
	background: #1f1f1f;
}

.stat-card {
	background: #2a2a2a;
	color: #fff;
	border-radius: 8px;
	border: "none";
}

.agent-not-selected {
	background: #2a2a2a;
	color: #fff;
	border-radius: 8px;
}

/* Add this to your styles.css or equivalent */

.backgroundHeader {
	background: #161616;
}

.sideMenu .ant-menu-dark,
.sideMenu .ant-menu-dark .ant-menu-inline.ant-menu-sub {
	background: #161616;
}

.sideMenu .ant-menu-item-selected {
	background-color: #ff7e16 !important;
}

.agent-card {
	cursor: pointer;
	text-align: center;
	font-weight: 600;
	font-size: 20px;
	padding: 10px;
}

.agent-card:hover {
	/* background-color: #ff7e16 !important; */
	color: #f79d54 !important;
}

.stat-card-agent {
	background: #1c1c1c;
	color: white;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	border: "none";
}

.agent-not-selected {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	background-color: #2a2a2a;
	border-radius: 8px;
	text-align: center;
	color: #fff;
}

.panel-header {
	display: flex;
	color: #fff;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

/* RecordingPage.css */

.recordingLayout .ant-layout-content {
  padding: 24px;
  min-height: 280px;
  background: #0e0d0c;
  border: none;
}

.recordingLayout .recording-details {
  /* background-color: #3c3733; */
  background-color: #1f1f1f;
  border-radius:20px;
  padding: 16px;
  color: #fff;
  min-height: 800px;
}

.recordingLayout .recording-title {
  font-size: 24px;
  color: #fff;
}

.recordingLayout .recording-card {
  border: none;
  background-color: #1f1f1f;
  text-align: justify;
  color: #fff;
  border-radius: 20px;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 14px;
}

.recordingLayout .recording-card p {
  margin-top: 0;
}

.recordingLayout .audio-controls {
  width: 100%;
}

.recordingLayout .summary-section {
  /* background-color: #1f1f1f; */
  margin-top: 48px;
  border-radius: 20px;
}

.recordingLayout .summary {
  /* background-color: #ff7e00; */
  margin-bottom: 8px;
  padding: 8px;
  border-radius: 4px;
  color: #fff;
  
}

.recordingLayout .summary p {
  margin: 0;
}

