/* Set the App to take full height */
.App {
  display: flex;
  min-height: 100vh; /* Ensures it takes full viewport height */
  background-color: #282c34;
}

/* Sidebar styling */
.SideNavbar {
  width: 250px;
  background-color: #333;
  color: #fff;
  height: 100vh;
  position: fixed;
}

/* Content styling */
.content {
  margin-left: 250px; /* Ensures content is not hidden behind SideNavbar */
  padding: 20px;
  flex-grow: 1;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ensure content is evenly distributed */
}

/* General body styling */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #282c34;
  color: #fff;
}

.Layout {
  min-height: 100vh;
  color: #fff;
}

.sideMenu {
  color: #fff;
  background-color: #161616;
}

.ant-layout-header {
  background-color: #1890ff; /* Example color */
  color: white; /* Example text color */
}

.backgroundLayout{
  background: linear-gradient(to left, #32200f, #161616);
}

.siderBackground{
  color: #fff;
  background-color: #161616;
}


.custom-sider {
  background-color: #001529; 
  color: white; 
  height: 100vh;
  position: fixed; 
  left: 0; 

}

.homePageCard{
  width: 450px;
  background-color:#393838 ;
  border: none;
}